

@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');


#cardInfoAvatar{ 
  font-family: 'Major Mono Display', monospace;
  background: rgba(19, 18, 18, 0.842); 
  position: fixed;
  font-size: 10px;
  width: 220px; 
  left: -80px;
  top: 70px;

}

#avatarForm input{
  margin-top: 1px;
  margin-bottom: 5px;
}