.C1 {
    -webkit-filter: url("#shadowed-goo");
            filter: url("#shadowed-goo");
  }
  
  .C1-item, .C1-open-button {
    background: linear-gradient(to right, #000000, #e74c3c);
    border-radius: 100%;
    width: 70px;
    height: 70px;
    margin-left: -35px;
    margin-top: 7px;
    position: absolute;
    top: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 80px;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
  }
  
  .C1-open {
    display: none;
  }
  
  .hamburger {
    width: 25px;
    height: 3px;
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
  }
  
  .hamburger-1 {
    -webkit-transform: translate3d(0, -8px, 0);
            transform: translate3d(0, -8px, 0);
  }
  
  .hamburger-2 {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  
  .hamburger-3 {
    -webkit-transform: translate3d(0, 8px, 0);
            transform: translate3d(0, 8px, 0);
  }
  
  .C1-open:checked + .C1-open-button .hamburger-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }
  .C1-open:checked + .C1-open-button .hamburger-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
            transform: translate3d(0, 0, 0) scale(0.1, 1);
  }
  .C1-open:checked + .C1-open-button .hamburger-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
            transform: translate3d(0, 0, 0) rotate(-45deg);
  }
  
  .C1 {
    position: absolute;
    left: 50%;
    margin-left: -190px;
    margin-top: -44px;
    padding-top: 20px;
    padding-left: 190px;
    width: 380px;
    height: 250px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;
  }
  
  .C1-item:hover {
    background: rgb(255, 255, 255);
    
  }
  .C1-item:nth-child(3) {
    -webkit-transition-duration: 70ms;
            transition-duration: 70ms;
  }
  .C1-item:nth-child(4) {
    -webkit-transition-duration: 130ms;
            transition-duration: 130ms;
  }
  .C1-item:nth-child(5) {
    -webkit-transition-duration: 190ms;
            transition-duration: 190ms;
  }
  .C1-item:nth-child(6) {
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
  }
  .C1-item:nth-child(7) {
    -webkit-transition-duration: 310ms;
            transition-duration: 310ms;
  }
  
  .C1-item:nth-child(8) {
    -webkit-transition-duration: 380ms;
            transition-duration: 380ms;
  }
  
  .C1-item:nth-child(9) {
    -webkit-transition-duration: 450ms;
            transition-duration: 450ms;
  }
  
  .C1-open-button {
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
            transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
  }
  
  .C1-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
            transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  }
  
  .C1-open:checked + .C1-open-button {
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
            transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  }
  
  .C1-open:checked ~ .C1-item {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
            transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  }
  .C1-open:checked ~ .C1-item:nth-child(3) {
    -webkit-transition-duration: 160ms;
            transition-duration: 160ms;
    -webkit-transform: translate3d(120.42548px, 22.48084px, 0);
            transform: translate3d(120.42548px, 22.48084px, 0);
  }
  .C1-open:checked ~ .C1-item:nth-child(4) {
    -webkit-transition-duration: 240ms;
            transition-duration: 240ms;
    -webkit-transform: translate3d(64.18543px, 77.2491px, 0);
            transform: translate3d(64.18543px, 77.2491px, 0);
  }
  .C1-open:checked ~ .C1-item:nth-child(5) {
    -webkit-transition-duration: 320ms;
            transition-duration: 320ms;
    -webkit-transform: translate3d(0.09158px, 114.99996px, 0);
            transform: translate3d(0.09158px, 114.99996px, 0);
  }
  .C1-open:checked ~ .C1-item:nth-child(6) {
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transform: translate3d(-65.04956px, 75.37192px, 0);
            transform: translate3d(-65.04956px, 75.37192px, 0);
  }
  .C1-open:checked ~ .C1-item:nth-child(7) {
    -webkit-transition-duration: 480ms;
            transition-duration: 480ms;
    -webkit-transform: translate3d(-130.40705px, 22.66307px, 0);
            transform: translate3d(-130.40705px, 22.66307px, 0);
  }
  
  .C1-open:checked ~ .C1-item:nth-child(8) {
    -webkit-transition-duration: 560ms;
            transition-duration: 560ms;
    -webkit-transform: translate3d(-130.40705px, 120.66307px, 0);
            transform: translate3d(-130.40705px, 120.66307px, 0);
  }
  
  .C1-open:checked ~ .C1-item:nth-child(9) {
    -webkit-transition-duration: 640ms;
            transition-duration: 640ms;
    -webkit-transform: translate3d(120.40705px, 120.66307px, 0);
            transform: translate3d(120.40705px, 120.66307px, 0);
  }
  