#DivSchema{
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background:#fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  opacity: 0.8;
  
}

#ImgSchema{
  position: absolute;
  top: 21%;  
  height: 60%;
 
}

#SchemaTittle{
  color: #000000;
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  letter-spacing: 1px;
  font-size: 25px;
  position: fixed;
  z-index: 1;
  top: 20%;
}

