
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');


#cardInfoTeam{ 
 position: absolute;
 top: 150px;
 left: 43px;
  font-family: 'Major Mono Display', monospace;
  background: rgba(10, 10, 10, 0.76);
  border-radius: 50%;
  width: 16.5rem;
  height: 7.9rem;
  border-radius: 0 0 100px 100px ;
  box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.1), 0px 2px 13px 0px #005eaab0;
}

#cardInfoTeam .header, #cardInfoTeam  .meta, #cardInfoTeam  .description{
  color: rgb(255, 255, 255);
  text-align: center;
}
#cardInfoTeam .description{
  margin-top: 21px;
}


#teamUserPosition{
  margin-top: -7px;
  font-size: 12px;
  text-align: center;
  color: rgb(194, 58, 17);
  font-family: 'Syne Mono', monospace;
}
#teamUserMail{ 
  
  color: rgb(0, 204, 255);
  font-size: 12px;
  text-align: center;  
  font-family: 'Syne Mono', monospace;
}

/*Button*/

#btnTeam1:hover,
#btnTeam2:hover,
#btnTeam3:hover,
#btnTeam4:hover{
  -webkit-transform: scale(1.4, 1.4) translate3d(0, 0, 0);
  transform: scale(1.4, 1.4) translate3d(0, 0, 0);
  box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.1), 0px 2px 13px 0px #ffffff;
  cursor: pointer;
}

#btnTeam1{
  position: absolute;
  top: -166px;
  z-index: 1;
}
#btnTeam2{
  position: absolute;
  top: -19px;
  left: -45px;
  z-index: 1;
}
#btnTeam3{
  position: absolute;
  top: -19px;
  right: -49px;
  z-index: 1;
}

#btnTeam4{
  position: absolute;
  top: 119px;
  z-index: 1;
}
#extraTeam{
  margin-top: -69px;
}

#AllBtnTeam{
  justify-content: center;
}