/* ABOUT */

#voice{
  opacity: 0.0;
  pointer-events: none;
}



 #repeat{
   margin-left: 127px;
   position: absolute;
   z-index: 1;
 }

#repeat:hover{
  -webkit-transform: scale(1.4, 1.4) translate3d(0, 0, 0);
  transform: scale(1.4, 1.4) translate3d(0, 0, 0);
  box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.1), 0px 2px 13px 0px #ffffff;
  
}

